---
layout: archive
title: "Research"
permalink: /research/
author_profile: true
---

<h3>Ongoing academic and industry projects (last updated Feb. 2021):</h3>

<ul>
  <li>Modelling the cerebro- and cardio- vascular systems during microgravity and on Mars</li> 
  <li>Characterizing post-TAVR surgical outcomes</li>
  <li>AI-based predictive tools for surgical outcomes</li>
  <li>Automation of calcification scoring from non-contrast and contrast-enhanced CT images</li>
  <li>Deep convolutional neural networks in segmentation, regression and classification from MRI/CT/Doppler imaging</li>
  <li>Large-scale physiological testing online</li>
  <li>Lumped-parameter modelling of the cardiovascular system</li>
</ul> 


<h3>Get <a href="https://researchonline.ca" target="_blank">notified</a> for when we launch our large-scale physiological testing platform.</h3> 


{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

